<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>
        Security <br />
        Through Obscuirty
      </h2>
      <div class="lined"></div>
      <p>
        Removing the signs of security measures from the door adds an additional
        layer of protection since we no longer show that there is anything
        valuable inside.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>
        Shoulder Surfing <br />
        Protection
      </h2>
      <div class="lined"></div>
      <p>
        Shoulder surfing occurs when an unwanted person peaks over your shoulder
        in order to figure out how you authorize with a security method.
        Shoulder surfing an AR interaction is much harder.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>Scrambling</h2>
      <div class="lined"></div>
      <p>
        By introducing a factor of randomness to the authorisation method you
        make it much harder for any intruder to acquire your code. AR-Access
        scrambles the keypad between every usage.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>
        Omit <br />
        Physical Tokens
      </h2>
      <div class="lined"></div>
      <p>
        Assuming we already always have our phone with us, AR-Access doesn’t
        enforce any additional tokens such as keys, cards or tags.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>Future ready</h2>
      <div class="lined"></div>
      <p>
        The solution is prepared for the upcoming releases of future
        technologies such as Apple Glasses and simulator Mixed Reality devices.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
