<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>
        Security <br />
        Through Obscuirty
      </h2>
      <div class="lined"></div>
      <p>
        STO is the belief that a system is secure as long as nobody outside of
        its user group is not allowed and does not know about the precense of
        the system.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>
        Shoulder Surfing <br />
        Protection
      </h2>
      <div class="lined"></div>
      <p>
        SS is a criminal practice where thieves steal personal data over your
        shoulder as you put information into a system.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>Scrambling</h2>
      <div class="lined"></div>
      <p>Randomly rearranging input objects so that security is enhanced.</p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>
        Omit <br />
        Physical Tokens
      </h2>
      <div class="lined"></div>
      <p>
        Assuming that one already always have their phone with them, the
        solution dosen’t enforce any additional tokens such as keys, cards or
        tags.
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
<div class="compcontainer">
  <div class="compcontent">
    <div class="comptextcontainer">
      <h2>Future ready</h2>
      <div class="lined"></div>
      <p>
        Is the solution desriable in a futuristic point of view where technology
        has evolved?
      </p>
    </div>
    <div class="vertilinecontainer">
      <div class="vertiline"></div>
    </div>
    <div class="compboxes">
      <div class="compboxcontainer">
        <h3 class="compboxtext">Key based - door lock</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">Physical keypad</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 class="compboxtext">RFID/NFC Solution</h3>
        <div class="compbox"></div>
      </div>
      <div class="compboxline"></div>
      <div class="compboxcontainer">
        <h3 id="compboxttextar">AR - Access</h3>
        <div class="compbox">
          <svg
            width="13"
            height="10"
            viewBox="0 0 13 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.2381 4.37501L5.57143 8.75L4.33333 10L0 5.625L1.2381 4.37501Z"
              fill="black"
            />
            <path
              d="M4.33333 7.49999L11.7619 0L13 1.25L5.57143 8.75L4.33333 7.49999Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horiline"></div>
