<div class="content">
  <div class="title">
    <div class="goaltitle">
      <h1 class="right">What did we try to achieve with this project?</h1>
    </div>
    <div class="descriptionLine"></div>
    <div class="markerstitle">
      <div class="dot"></div>
      <h1 class="left">Design For The Real World</h1>
      <div class="dot"></div>
      <h1 class="right">Physical Access</h1>
    </div>
  </div>
  <div class="col1">
    <h2>
      Design for <br />
      the real world
    </h2>
    <div class="lined"></div>
    <p>
      The intention of the project was to create a product that is comparable
      with various solutions that are available today and that address all the
      issues of desirability, feasibility and viability. Considering that the
      prototype we ended up with in the end is not far away from a functioning
      implementation, and based on our evaluation covers all the aforementioned
      criteria we think we have cover this goal successfully.
    </p>
  </div>

  <div class="col2">
    <h2>
      Design with <br />
      innovation in mind
    </h2>
    <div class="lined"></div>
    <p>
      One of our goals was to create a solution that feels innovative and
      utilizes new technology. Our research didn’t reveal any similar solutions
      on the market and there didn’t seem to be much research done within AR
      authorization, there we deemed this goal as successful.
    </p>
  </div>

  <div class="col3">
    <h2>
      Improved <br />
      Security
    </h2>
    <div class="lined"></div>
    <p>
      AR-Access improves on security by providing “security through obscurity”
      and “scrambling”, which are not commonly seen in the typical solutions
      found today. Although the features have not been evaluated on to what
      degree they contribute to the security aspect, we still consider this goal
      as fulfilled based on the feedback we got during our prototype
      evaluations.
    </p>
  </div>
</div>
