<div class="col1">
  <h2>
    Design for <br />
    the real world
  </h2>
  <div class="lined"></div>
  <p>
    As technology progresses and pushes the boundaries of what is achievable
    makes one think how AR can be a more common technology that more people
    could use in their everyday life. There are solutions such as the HoloLens
    already on the market but with its drawbacks on how the user has to tilt
    their head and aim their sight on the wanted input on a keyboard. We wanted
    to investigate if there is a better solution on how to interact and put in
    passwords to gain access in the real world with help of AR.
  </p>
</div>

<div class="col2">
  <h2>
    Design with <br />
    future in mind
  </h2>
  <div class="lined"></div>
  <p>
    Sure izzle pot vitae fizzle tincidunt aliquizzle. Crackalackin sheezy
    gangster ante. In interdizzle erizzle et sizzle. Stuff malesuada. Nizzle
    vitae fo shizzle mah nizzle fo rizzle, mah home g-dizzle sizzle crazy
    mollizzle sheezy. Nulla . Nullizzle quis quizzle a crazy daahng dawg the
    bizzle. Nullizzle quis quizzle a crazy daahng dawg the bizzle.
  </p>
</div>

<div class="col3">
  <h2>
    Improved <br />
    Security
  </h2>
  <div class="lined"></div>
  <p>
    The use of AR opens up the possibilities of how security can be improved.
    Layering is one option where AR can be seen as the first layer, you only get
    to see and interact with the access mechanism if you are authorized. A
    second layer could consist of adding randomness to the input so that
    shoulder surfing could be eliminated as the pattern of the password will be
    different from time to time.
  </p>
</div>
