<div class="section_three">
  <div class="section_three_content">
    <div class="section_three_col1">
      <h1>Layers of Security</h1>
      <h2>
        Security <br />
        Through Obscurity
      </h2>
      <div class="lined"></div>
      <p>
        When you see a door that has a number pad or even a retina scanner next
        to it you know that there is something important hiding behind that
        door. In AR-Access all of the authentication is performed in AR meaning
        the door itself doesn’t have to reveal the fact that there is something
        important behind it. This is something that we refer to as Security
        Through Obscurity.
      </p>
    </div>
    <div class="section_three_col2">
      <svg
        width="192"
        height="163"
        viewBox="0 0 192 163"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="40.8376"
          y="22.5952"
          width="116.263"
          height="113.929"
          stroke="black"
          stroke-width="2.5"
        />
        <rect
          x="74.4871"
          y="47.8214"
          width="116.263"
          height="113.929"
          stroke="black"
          stroke-width="2.5"
        />
        <rect
          x="1.25"
          y="1.25"
          width="116.263"
          height="113.929"
          stroke="black"
          stroke-width="2.5"
        />
      </svg>
      <h2>
        Code <br />
        Scrambling
      </h2>
      <div class="lined"></div>
      <p>
        In order to make it impossible for bystanders to figure out your
        passcode we add a factor of randomness to the authentication process.
        The position of the numbers is scrambled between interactions, this
        makes it impossible for anyone not within Artificial Reality to figure
        out your passcode.
      </p>
    </div>
  </div>
</div>
