<div class="section_four">
  <div class="section_four_content">
    <div class="section_four_image">
      <svg
        width="383"
        height="444"
        viewBox="0 0 383 444"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="-1.5"
          y="1.5"
          width="227"
          height="405"
          transform="matrix(-1 0 0 1 304 18)"
          stroke="black"
          stroke-width="3"
        />
        <rect x="224.5" y="21" width="79.5" height="402" fill="white" />
        <path
          d="M277.076 425.28H383L131.698 425.28H-0.000305176"
          stroke="black"
          stroke-width="3"
        />
        <rect
          width="142"
          height="8"
          transform="matrix(-1 0 0 1 222 421)"
          fill="#EEEEEE"
        />
        <rect
          width="141.5"
          height="8"
          transform="matrix(-1 0 0 1 221.5 17)"
          fill="#EEEEEE"
        />
        <path
          d="M78.4998 19.5L223 2V442L77.9998 424.981"
          stroke="black"
          stroke-width="3"
        />
        <path
          d="M206.5 227.5C206.5 232.08 203.213 235.5 199.5 235.5C195.787 235.5 192.5 232.08 192.5 227.5C192.5 222.92 195.787 219.5 199.5 219.5C203.213 219.5 206.5 222.92 206.5 227.5Z"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </div>

    <div class="section_four_text">
      <h1>Future functionality</h1>
      <p>
        If you have shown interest in Apple rumours you probably know that the
        concept of Apple Glasses has been buzzing around for a while now. A set
        of smart glasses that perpetually overlay our reality with artificial
        images intended to extend the environment and experiences that surround
        us every day. We are very excited by this technology and wanted to
        utilize the concepts surrounding it in order to improve the way that we
        could perceive physical access in the future.
      </p>
    </div>
  </div>
</div>
