<div class="section_three">
  <div class="section_three_content">
    <div class="section_three_col1">
      <h1>Layers of Security</h1>
      <h2>
        Security <br />
        Through Obscurity
      </h2>
      <div class="lined"></div>
      <p>
        When you see a door that has a number pad or even a retina scanner next
        to it you know that there is something important hiding behind that
        door. AR brings something to the table which we refer to as “security
        through obscurity” in this case meaning that by hiding the fact that
        authentication is required to enter somewhere we gain an extra layer of
        security.
      </p>
    </div>
    <div class="section_three_col2">
      <svg
        width="192"
        height="163"
        viewBox="0 0 192 163"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="40.8376"
          y="22.5952"
          width="116.263"
          height="113.929"
          stroke="black"
          stroke-width="2.5"
        />
        <rect
          x="74.4871"
          y="47.8214"
          width="116.263"
          height="113.929"
          stroke="black"
          stroke-width="2.5"
        />
        <rect
          x="1.25"
          y="1.25"
          width="116.263"
          height="113.929"
          stroke="black"
          stroke-width="2.5"
        />
      </svg>
      <h2>
        Code <br />
        Scrambling
      </h2>
      <div class="lined"></div>
      <p>
        We want to take one of the oldest known means of constraining physical
        access, doors, and improve the way we interact with them with the help
        of AR-Glasses. We additionally wanted to extend the security factor by
        adding an element of randomness to some parts of the input method so
        that shoulder surfing could be eliminated.
      </p>
    </div>
  </div>
</div>
