<div class="section_five">
  <div class="section_five_content">
    <div class="col1">
      <svg
        width="191"
        height="118"
        viewBox="0 0 191 118"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="1"
          y="1"
          width="46.0662"
          height="46.0662"
          stroke="black"
          stroke-width="2"
        />
        <rect
          x="74.3643"
          y="1"
          width="44.8013"
          height="46.0662"
          stroke="black"
          stroke-width="2"
        />
        <path
          d="M87.381 85.3125L95.7143 93.625L93.3333 96L85 87.6875L87.381 85.3125Z"
          fill="black"
        />
        <path
          d="M93.3333 91.25L107.619 77L110 79.375L95.7143 93.625L93.3333 91.25Z"
          fill="black"
        />
        <path
          d="M158.381 85.3125L166.714 93.625L164.333 96L156 87.6875L158.381 85.3125Z"
          fill="black"
        />
        <path
          d="M164.333 91.25L178.619 77L181 79.375L166.714 93.625L164.333 91.25Z"
          fill="black"
        />
        <path
          d="M14.381 22.3125L22.7143 30.625L20.3333 33L12 24.6875L14.381 22.3125Z"
          fill="black"
        />
        <path
          d="M20.3333 28.25L34.619 14L37 16.375L22.7143 30.625L20.3333 28.25Z"
          fill="black"
        />
        <rect
          x="145.199"
          y="1"
          width="44.8013"
          height="46.0662"
          stroke="black"
          stroke-width="2"
        />
        <rect
          x="1"
          y="64.2454"
          width="46.0662"
          height="46.0662"
          stroke="black"
          stroke-width="2"
        />
        <rect
          x="74.3643"
          y="64.2454"
          width="44.8013"
          height="46.0662"
          stroke="black"
          stroke-width="2"
        />
        <rect
          x="145.199"
          y="64.2454"
          width="44.8013"
          height="46.0662"
          stroke="black"
          stroke-width="2"
        />
      </svg>
      <div class="horizontal"></div>
      <div class="linkContainer">
        <a href="comparison" target="_self"
          ><h2>Compare with other solutions ></h2></a
        >
      </div>
      <p class="subtext">See what adventages AR-Access can bring to you</p>
    </div>
    <div class="col2"><div class="vertical"></div></div>
    <div class="col3">
      <svg
        width="228"
        height="118"
        viewBox="0 0 228 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="24.5741"
          cy="24.5741"
          r="23.5741"
          fill="white"
          stroke="black"
          stroke-width="2"
        />
        <path
          d="M14.381 23.3125L22.7143 31.625L20.3333 34L12 25.6875L14.381 23.3125Z"
          fill="black"
        />
        <path
          d="M20.3333 29.25L34.619 15L37 17.375L22.7143 31.625L20.3333 29.25Z"
          fill="black"
        />
        <circle
          cx="113.574"
          cy="25.5741"
          r="23.5741"
          fill="white"
          stroke="black"
          stroke-width="2"
        />
        <path
          d="M103.381 24.3125L111.714 32.625L109.333 35L101 26.6875L103.381 24.3125Z"
          fill="black"
        />
        <path
          d="M109.333 30.25L123.619 16L126 18.375L111.714 32.625L109.333 30.25Z"
          fill="black"
        />
        <circle
          cx="202.574"
          cy="24.5741"
          r="23.5741"
          fill="white"
          stroke="black"
          stroke-width="2"
        />
        <path
          d="M192.381 23.3125L200.714 31.625L198.333 34L190 25.6875L192.381 23.3125Z"
          fill="black"
        />
        <path
          d="M198.333 29.25L212.619 15L215 17.375L200.714 31.625L198.333 29.25Z"
          fill="black"
        />
      </svg>
      <div class="horizontal"></div>
      <div class="linkContainer">
        <a href="goals" target="_self"><h2>Our project goals ></h2></a>
      </div>
      <p class="subtext">
        What were our goals for this projects and how did we achieve them
      </p>
    </div>
    <div class="col4">
      <div class="vertical"></div>
    </div>
    <div class="col5">
      <svg
        width="356"
        height="118"
        viewBox="0 0 356 118"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="77.5741"
          cy="24.5741"
          r="23.5741"
          fill="white"
          stroke="black"
          stroke-width="2"
        />
        <circle
          cx="77.5744"
          cy="24.5739"
          r="3.55075"
          fill="black"
          stroke="black"
          stroke-width="2"
        />
        <path
          d="M7 67.8757C7 69.4343 5.68685 70.7514 4 70.7514C2.31315 70.7514 1 69.4343 1 67.8757C1 66.317 2.31315 65 4 65C5.68685 65 7 66.317 7 67.8757Z"
          fill="black"
          stroke="black"
          stroke-width="2"
        />
        <path
          d="M355 56.8757C355 58.4343 353.687 59.7514 352 59.7514C350.313 59.7514 349 58.4343 349 56.8757C349 55.317 350.313 54 352 54C353.687 54 355 55.317 355 56.8757Z"
          fill="black"
          stroke="black"
          stroke-width="2"
        />
        <circle
          cx="166.574"
          cy="92.5741"
          r="23.5741"
          fill="white"
          stroke="black"
          stroke-width="2"
        />
        <circle
          cx="166.574"
          cy="92.5739"
          r="3.55075"
          fill="black"
          stroke="black"
          stroke-width="2"
        />
        <circle
          cx="255.574"
          cy="92.5741"
          r="23.5741"
          fill="white"
          stroke="black"
          stroke-width="2"
        />
        <circle
          cx="255.574"
          cy="92.5739"
          r="3.55075"
          fill="black"
          stroke="black"
          stroke-width="2"
        />
        <path
          d="M4.5 68L77.5 24.5L166.5 92.5H255.5L352 57"
          stroke="black"
          stroke-width="2"
        />
      </svg>
      <div class="horizontal"></div>
      <div class="linkContainer">
        <a href="timeline" target="_self"><h2>How we got here ></h2></a>
      </div>
      <p class="subtext">
        Read about the timeline of our project and what intermidiate steps went
        into it.
      </p>
    </div>
  </div>
</div>
