.imageWrapper {
  // Sets the background image in the header area
  height: 714px;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 0px 0px 88px 88px;
}

.headerBackground {
  height: 115px;
  background-color: #eeeeee;
}

@media only screen and (max-width: 768px) {
  .headerBackground {
    height: 80px;
  }
}

.subPageHeaderBackground {
  background-color: orange;
}

.container {
  // Set up the container for the site content
  display: grid;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 115px auto auto;
  grid-column-gap: 30px;
  grid-template-areas:
    '. . h h h h h h h h h h . .'
    '. . t t t t t t t t t t . .'
    '. . c c c c c c c c c c . .'
    'f f f f f f f f f f f f f f';
}

.page {
  margin-top: 30px;
  margin-bottom: 70px;
  grid-column: 3/11;
}

@media only screen and (max-width: 768px) {
  .page {
    margin-top: 30px;
    margin-bottom: 70px;
    grid-column: 1/-1;
  }
}

header {
  grid-area: h;
  display: flex;
  margin-right: -15px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 115px;
  margin-right: 30px;
}

.logo > p {
  font-family: Avenir Medium;
  color: black;
  white-space: nowrap;
  display: flex;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 15px;
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 80px;
    margin-right: 0px;
  }

  .logo > p {
    display: none;
  }
}

.headerIcon {
  width: 50px;
  height: 50px;
  -webkit-clip-path: url(#shape);
  clip-path: url(#shape);
}

@media only screen and (max-width: 768px) {
  .divider {
    position: relative;
    min-width: 1px;
    max-width: 1px;
    background-color: rgba(127, 127, 127, 0.2);
    display: inline-block;
    margin-left: 15px;
  }
}

// Navigation Links
.scroll {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  height: 115px;
  //margin-left: 15px;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media only screen and (max-width: 768px) {
  .scroll {
    height: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: -60px;
    justify-content: flex-start;
  }
}

.scroll::-webkit-scrollbar {
  display: none;
}

nav > ul {
  color: #fff;
  display: flex;
  list-style-type: none;
}

nav > ul li {
  padding-left: 30px;
}

@media only screen and (max-width: 768px) {
  nav > ul li {
    padding-left: 20px;
  }
}

nav > ul li:first-child {
  padding-left: 0px;
  padding-left: 15px;
}

nav > ul li:last-child {
  padding-right: 15px;
}

nav > ul li a:link,
nav > ul li a:visited {
  text-decoration: none;
  color: rgba(#000, 0.6);
}

nav > ul li a:hover,
nav > ul li a:active {
  text-decoration: none;
  color: rgba(#000, 1);
}

// Sub Page Header Styling
.subPageHeaderBackground .logo > p {
  color: #000;
}

.subPageHeaderBackground nav > ul li a:link,
.subPageHeaderBackground nav > ul li a:visited {
  color: rgba(#000, 0.6);
}

.subPageHeaderBackground nav > ul li a:hover,
.subPageHeaderBackground nav > ul li a:active {
  color: rgba(#000, 1);
}

// App Title, Price, Description and Links

.appInfo {
  grid-area: i;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 30px;
}

.glassesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
}

.appDescription {
  color: black;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.appDescription > .first {
  font-family: Avenir Light;
  margin-right: 10px;
  font-size: 28px;
}
.appDescription > .second {
  font-family: Avenir Medium;
  font-size: 28px;
}

.descriptionLine {
  height: 1px;
  width: 450px;
  background-color: black;
  margin-top: 5px;
}

@media only screen and (max-width: 992px) {
  .appInfo {
    padding-top: 50px;
    justify-content: center;
  }
}

.appIconLarge {
  width: 120px;
  height: 120px;
  -webkit-clip-path: url(#shape120);
  clip-path: url(#shape120);
}

.appNamePriceContainer {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 30px;
}

.appName {
  color: $app-title-color;
}

.appPrice {
  color: $app-price-color;
  font-weight: normal;
  margin-top: 13px;
}

@media only screen and (max-width: 768px) {
  .appNamePriceContainer {
    width: 100%;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }

  .appName {
    margin-top: 30px;
    text-align: center;
  }

  .appPrice {
    margin-top: 13px;
    text-align: center;
  }
}

// iPhone Device Preview

.iphonePreview {
  grid-area: p;
  background-image: url($device-color);
  background-size: 400px auto;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.iphoneScreen {
  width: 349px;
  -webkit-clip-path: url(#screenMask);
  clip-path: url(#screenMask);
  margin-left: 26px;
  margin-top: 23px;
}

.videoContainer {
  width: 349px;
  height: 755px;
  -webkit-clip-path: url(#screenMask);
  clip-path: url(#screenMask);
  margin-left: 26px;
  margin-top: 23px;
}

.videoContainer > video {
  width: 349px;
  height: 755px;
}

@media only screen and (max-width: 1070px) {
  .iphonePreview {
    background-size: 370px auto;
  }

  .iphoneScreen {
    width: 322px;
    margin-left: 24px;
    margin-top: 22px;
  }

  .videoContainer {
    width: 322px;
    height: 698px;
    margin-left: 24px;
    margin-top: 22px;
  }

  .videoContainer > video {
    width: 322px;
    height: 698px;
  }
}

@media only screen and (max-width: 992px) {
  .iphonePreview {
    display: flex;
    background-size: 260px auto;
    background-position: center 0;
    margin-top: 47px;
    justify-content: center;
    padding-bottom: 75px;
  }

  .iphoneScreen {
    width: 226px;
    height: 488px;
    -webkit-clip-path: url(#screenMask);
    clip-path: url(#screenMask);
    margin: 0px;
    margin-top: 17px;
  }

  .videoContainer {
    width: 226px;
    height: 488px;
    margin-left: 0px;
    margin-top: 17px;
  }

  .videoContainer > video {
    width: 226px;
    height: 488px;
  }
}
.container > .title {
  grid-area: t;
  flex: 0 1 auto;
  align-content: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.title > .left {
  font-family: Avenir Light;
  font-weight: 300;
  font-size: 40px;
  padding-right: 20px;
}

.title > .right {
  font-weight: 300;
  font-family: Avenir Medium;
  font-size: 40px;
}

.content {
  grid-area: c;
  flex: 0 1 auto;
  align-content: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.compcontainer {
  display: flex;
  flex: 1;
}

.compcontent {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.comptextcontainer {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.comptextcontainer > h2 {
  font-family: Avenir Heavy;
  font-size: 35px;
  line-height: 42px;
  margin-left: 5px;
}
.comptextcontainer > p {
  padding-top: 10px;
  font-family: Avenir Book;
  font-size: 25px;
  margin-left: 5px;
}
.lined {
  height: 4px;
  width: 260px;
  background-color: black;
  margin-top: 14px;
  margin-bottom: 12px;
}

.vertilinecontainer {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vertiline {
  width: 3px;
  height: 30%;
  background-color: rgba(#000000, 1);
}
.compboxes {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compboxline {
  width: 100%;
  height: 2px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: rgba(#000000, 1);
}
.compboxcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}
.compboxcontainer > h3 {
  font-weight: 500;
  font-family: Avenir Light;
  font-size: 22px;
}
#compboxttextar {
  font-weight: 600;
}
.compbox {
  margin: 7.5px;
  width: 25px;
  height: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horiline {
  height: 1px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: black;
  margin-top: 60px;
  margin-bottom: 80px;
}
// Footer

footer {
  grid-area: f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerText {
  color: $footer-text-color;
  display: block;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footerIcons {
  padding-bottom: 70px;
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
}

.footerLinks {
  margin-left: -30px;
  margin-top: 30px;
  display: flex;
  text-align: center;
  padding-bottom: 70px;
}

.footerLinks a {
  margin-right: 70px;
}

.footerLinks a:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 768px) {
  .footerLinks {
    flex-direction: column;
  }

  .footerLinks a {
    justify-content: stretch;
    margin-right: 0px;
    margin-top: 20px;
  }

  .footerLinks a:first-child {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .footerText {
    color: $footer-text-color;
    display: block;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    padding-top: 54px;
    padding-bottom: 61px;
  }

  .footerIcons {
    padding-bottom: 70px;
    display: flex;
  }
}

.hidden {
  display: none;
}
